<style>
html, body, iframe, h2 {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    left: 100px;
    width: 100vw;
    height: 30%;
    background: white;
    color: black;
}

.myButtonGreen {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButtonGreen:hover {
	background-color:#5cbf2a;
}
.myButtonGreen:active {
	position:relative;
	top:1px;
}
.myButtonRed {
	background-color:#ff0000;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButtonRed:hover {
	background-color:#ff2222;
}
.myButtonRed:active {
	position:relative;
	top:1px;
}
h2 {
    height: 150px;
    font-size: 15px;
    padding:10px;
}
iframe {
    height: 300px;
}
</style>
